/* css component forminput */
.Form {
  border: 2px solid #febb02;

  height: 50px;
  width: 795px;
  background-color: white;
  position: absolute;
  top: 270px;
  left: 337px;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.input {
  border: none;
  color: gray;
}
.btn {
  background-color: #80bbef;
  color: white;
  margin-left: 82px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
}
.fonticon {
  color: gray;
  background-color: gray;
}

.container3 {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.container2 {
  display: flex;
  flex-direction: row;

  align-items: center;
}
