/* chỉnh css navbar */
.NavBar {
  color: white;
}
.header {
  margin-bottom: 15px;
}
.icon {
  margin-right: 25px;
}
.text {
  display: inline-block;
  margin-left: 8px;
}
/* chỉnh css container chứ các phần trử trong mảng */
.boxNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  width: auto;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: auto;
}
.border {
  margin-right: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
  border-radius: 30px 30px;
}
